@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* CSS Reset and Basic Configurations */
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.body-container {
    @apply min-w-[320px] w-auto min-h-screen bg-primary;
    @apply text-[100%] list-none antialiased;
}

/* Fonts Definition */

@font-face {
    font-family: "KeaniaOne";
    src: url("/fonts/KeaniaOne-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "IFellDoubleP";
    src: url("/fonts/IMFellDoublePica-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "IFellPrimerSC";
    src: url("/fonts/IMFellGreatPrimerSC-Regular.ttf");
    font-weight: 400;
}

/* Custom styles */

.container-b-c {
    @apply flex justify-between items-center;
}

.grid-container {
    @apply grid justify-items-center gap-4;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.default-button {
    @apply md:min-w-[98px] py-2 md:px-6 px-2 min-w-[70px] rounded-lg shadow-md transition-colors;
}

.svg-button {
    @apply text-quartiary fill-current w-6 h-6 cursor-pointer;
}

.dropdown_select {
    @apply relative select-none font-im_fell_great_primer_sc border border-quartiary;
    @apply text-quartiary bg-transparent rounded-xl w-48 h-11;
}

.dropdown_select_menu {
    @apply absolute right-0 origin-top mt-1 py-2 w-full;
    @apply bg-primary rounded-md shadow-md border border-quartiary flex-col;
}

.form_group {
    @apply bg-secondary border-t-8 rounded-2xl border-t-tertiary drop-shadow-lg;
    @apply min-w-[320px] w-8/12 px-12 mx-auto py-4 text-quartiary;
    @apply font-im_fell_great_primer_sc;
    @apply flex flex-col space-y-4;
}

.form_group input[type="text"],
.form_group textarea {
    @apply bg-transparent border-tertiary rounded-2xl w-full;
}

.form_group input[type="text"]:focus,
.form_group textarea:focus {
    @apply border-tertiary bg-none shadow-none ring-0 outline-none;
}


.form_group input[type="radio"] {
    @apply bg-transparent border-tertiary p-3 mr-2 cursor-pointer transition-colors;
}

.form_group input[type="radio"]:checked {
    @apply bg-none bg-quartiary;
}

.default_button {
    @apply before:relative before:right-2;
    @apply bg-quartiary text-tertiary font-im_fell_double_pica px-6 py-2 rounded-xl;
}

.form_group .submit {
    @apply default_button before:hero-plus-circle-solid mx-auto w-auto;
}

.form_group .add_opt {
    @apply before:hero-plus-circle-solid before:relative before:right-2;
    @apply float-right bg-tertiary px-3 py-2 rounded-xl border-2 text-sm;
}

.error_404 {
    @apply font-keania_one text-quartiary flex flex-col justify-center items-center pt-14 space-y-10;
}